.posts {

}

.newPost {
    display: flex;
    margin: 50px 20px;
}

.newPost textarea {
    flex-grow: 1;
    margin-right: 50px;
    height: 70px;
    border-radius: 10px;
}

.newPost button {
    border-radius: 10px;
}

.existingPosts {

}
