.app-wrapper {
  margin: 0 auto;
  display: grid;
  max-width: 1200px;
  grid-template-areas:
  'app-header app-header'
  'app-navigation app-content';
  grid-template-rows: 180px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}
