.content {
    grid-area: app-content;
    background-color: wheat;
}

.header img {
    opacity: 0.8;
}

.avatar img{
    width: 200px;
    height: 100%;
    opacity: 0.7;
}

.aboutMe {
    background-color: white;
}

.posts {

}

.newPost {

}

.existingPosts {

}

.post {

}
