.dialog {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 5px;
}

.name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: wheat;
    height: 30px;
    border-radius: 20px;
    text-align: center;
    flex-grow: 1;
    margin-left: 20px;
}

.dialog img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}